<h1> Shop's Snowboards </h1>

<% @boards.each do |snowboard| %>
  <h4><a href="/snowboards/<%= snowboard.id %>"><%= snowboard.name =%></a></h4>
  <ul>
    <li>Length in Centimeters: <%= snowboard.length %></li>
    <li>Wide Stance: <%= snowboard.wide_stance %></li>
    <li>Snowboard I.D.: <%= snowboard.id %></li>
    <li>Created At: <%= snowboard.created_at %></li>
    <li>Updated At: <%= snowboard.updated_at %></li>
    <a href="/snowboards/<%= snowboard.id %>/edit">Update Snowboard</a><br><br>
    <form action="/snowboards/<%= snowboard.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
  </ul>
  <% end %>
  <p><a href="/shops/<%= @shop_id %>/boards/new_board">New Board</a></p>

  <form action="/shops/<%= @shop_id %>/boards/" method="get">
   <label for="centimeters">Minimum Length of Board: </label>
   <input type="number" name="centimeters" id="centimeters">
   <input type="submit">
 </form>

  <p><%= link_to "Alphabetize", "/shops/#{@shop_id}/boards?alpha=sort" %></p>
