<h2>All of the Shop's Snowboards</h2>

<!-- <% @snowboards = Snowboard.find_each %>

<% @snowboards.each do |snowboard| %>
  <h4><a href="/snowboards/<%= snowboard.id %>"><%= snowboard.name =%></a></h4>
  <%= snowboard.length %><br>
  <%= snowboard.wide_stance %><br>
  <%= snowboard.id %><br>
  <%= snowboard.created_at %><br>
  <%= snowboard.updated_at %><br>
  <% end %> -->