

<h1><%= @dealership.name %></h1>

<p>Dealership I.D.: <%= @dealership.id %></p>
<p>Max Inventory: <%= @dealership.max_inventory %></p>
<p>In County?: <%= @dealership.in_county %></p>
<p>Created At: <%= @dealership.created_at %></p>
<p>Updated At: <%= @dealership.updated_at %></p>
<p>Vehicle Count: <%= @child_count %></p>

<a href="/dealerships/<%= @dealership.id %>/edit">Update Dealership</a><br><br><br>
<form action="/dealerships/<%= @dealership.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
</form>

<a href="/dealerships/<%= @dealership.id %>/autos">Dealership Vehicles</a>
