<h1>All Vehicles </h1>

<% @true.each do |vehicle| %>
  <h4><a href="/vehicles/<%= vehicle.id %>"><%= vehicle.name =%></a></h4>
  <ul>
    <li>Passenger Limit: <%= vehicle.passenger_limit %></li>
    <li>Automatic Tranmission: <%= vehicle.auto_transmission %></li>
    <li>Vehicle Id: <%= vehicle.id %></li>
    <li>Created At: <%= vehicle.created_at %></li>
    <li>Updated At:<%= vehicle.updated_at %></li>
  </ul>
  <% end %>
