<h1>All Snowboards</h1>

<% @snowboards.each do |snowboard| %>
  <h4><a href="/snowboards/<%= snowboard.id %>"><%= snowboard.name =%></a></h4>
  <ul>
    <li>Length in Centimeters: <%= snowboard.length %></li>
    <li>Wide Stance: <%= snowboard.wide_stance %></li>
    <li>Snowboard I.D.: <%= snowboard.id %></li>
    <li>Created At: <%= snowboard.created_at %></li>
    <li>Updated At: <%= snowboard.updated_at %></li>
    <a href="/snowboards/<%= snowboard.id %>/edit">Update Snowboard</a><br><br>
    <form action="/snowboards/<%= snowboard.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
  </form>
  </ul>
  <% end %>
