<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/dealerships">Dealership Index</a>
    <a href="/vehicles">Vehicle Index</a>
    <a href="/shops">Shop Index</a>
    <a href="/snowboards">Snowboard Index</a>
    <%= yield %>
  </body>
</html>
